In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
6918,-118.00,33.96,37.0,2414.0,323.0,878.0,305.0,9.1541,453800.0,<1H OCEAN
5474,-118.46,33.99,44.0,1122.0,287.0,531.0,256.0,4.0598,335900.0,<1H OCEAN
10591,-117.78,33.68,19.0,2500.0,331.0,1027.0,327.0,6.1150,315600.0,<1H OCEAN
16376,-121.29,38.03,7.0,2021.0,441.0,1615.0,406.0,2.5842,111300.0,INLAND
11485,-117.99,33.72,26.0,1787.0,275.0,801.0,270.0,5.5514,255700.0,<1H OCEAN

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [6]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)
housing_data.shape

(19475, 10)

In [7]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [9]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])
housing_data.shape

(19475, 14)

In [10]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
9100,-117.92,34.59,7.0,681.0,125.0,485.0,104.0,2.7396,125600.0,False,True,False,False,False
20483,-118.72,34.28,18.0,2229.0,371.0,1283.0,379.0,5.5955,217700.0,True,False,False,False,False
6183,-117.91,34.09,20.0,4327.0,1037.0,2296.0,963.0,3.0441,185400.0,True,False,False,False,False
5129,-118.27,33.98,45.0,1696.0,424.0,1502.0,429.0,1.3042,99200.0,True,False,False,False,False
4741,-118.35,34.05,47.0,2815.0,679.0,1533.0,594.0,2.5806,234100.0,True,False,False,False,False

In [11]:
median = housing_data['median_house_value'].median()

median

173800.0

In [12]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [13]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
17061,-122.24,37.49,38.0,4105.0,950.0,2561.0,909.0,3.8684,265600.0,False,False,False,False,True,True
5835,-118.33,34.20,43.0,2322.0,418.0,1106.0,433.0,4.3631,284600.0,True,False,False,False,False,True
12841,-121.46,38.66,3.0,3438.0,603.0,1602.0,554.0,3.9914,120500.0,False,True,False,False,False,False
6447,-118.05,34.11,42.0,3677.0,627.0,1779.0,622.0,5.1509,426500.0,False,True,False,False,False,True
12645,-121.47,38.52,26.0,2177.0,638.0,1971.0,560.0,1.2575,66800.0,False,True,False,False,False,False

In [14]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [15]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [17]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [18]:
y_train.shape, y_test.shape

((15580,), (3895,))

In [19]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [20]:
print("Training_score : ", logistic_model.score(x_train,y_train))

Training_score :  0.8215661103979461

In [21]:
y_pred = logistic_model.predict(x_test)

In [22]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_pred_actual.head(10)

       predicted  actual
17516       True    True
16735       True    True
3162       False   False
13686      False   False
5992       False   False
18822      False   False
10127       True    True
13534      False   False
13006       True   False
11240       True    True

In [23]:
from sklearn.metrics import accuracy_score
print("Testing Score : ", accuracy_score(y_test,y_pred))

Testing Score :  0.8138639281129654