In [150]:
import pandas as pd

In [151]:
titanic_df = pd.read_csv('datasets/titanic/processed/train_processed.csv')

titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,1,0,24.0,0,0,69.300,True,False,False
1,0,3,0,30.5,0,0,7.750,False,True,False
2,1,2,1,32.0,1,0,26.000,False,False,True
3,0,2,1,51.0,0,0,12.525,False,False,True
4,0,3,1,24.5,0,0,8.050,False,False,True

In [152]:
titanic_df.shape

(712, 10)

In [153]:
from sklearn.model_selection import train_test_split

X=titanic_df.drop('Survived',axis=1)
Y=titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [154]:
x_train.shape, y_train.shape

((569, 9), (569,))

In [155]:
x_test.shape, y_test.shape

((143, 9), (143,))

In [156]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [157]:
y_pred = logistic_model.predict(x_test)

In [158]:
pred_results = pd.DataFrame({'y_test': y_test,
                             'y_pred': y_pred})

In [159]:
pred_results.head()

     y_test  y_pred
509       0       0
434       0       0
393       0       1
647       0       0
86        1       1

In [160]:
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)

titanic_crosstab

y_test   0   1
y_pred
0       72  18
1        6  47

In [161]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [162]:
acc = accuracy_score(y_test,y_pred)
prec = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)

print("accuracy_score : " , acc)
print("precission_score : " , prec)
print("recall_score : " , recall)

accuracy_score :  0.8321678321678322
precission_score :  0.8867924528301887
recall_score :  0.7230769230769231

In [163]:
titanic_crosstab

y_test   0   1
y_pred
0       72  18
1        6  47

In [166]:
TP = titanic_crosstab[1][1]
TN = titanic_crosstab[0][0]
FP = titanic_crosstab[0][1]
FN = titanic_crosstab[1][0]

In [170]:
accuracy_score_manual = (TP + TN) / (TP + FP + TN + FN)

accuracy_score_manual, acc

(0.8321678321678322, 0.8321678321678322)

In [171]:
precision_score_manual = TP / (TP + FP)

precision_score_manual, prec

(0.8867924528301887, 0.8867924528301887)

In [173]:
recall_score_manual = TP / (TP + FN)

recall_score_manual, recall

(0.7230769230769231, 0.7230769230769231)